
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySerieRecomendationLabel" data-translate="serflixApp.serieRecomendation.home.createOrEditLabel">Create or edit a Serie Recomendation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.serieRecomendation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.serieRecomendation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="serflixApp.serieRecomendation.recomendationResult" for="field_recomendationResult">Recomendation Result</label>
            <select class="form-control" name="recomendationResult" ng-model="vm.serieRecomendation.recomendationResult" id="field_recomendationResult">
                <option value="PRESELECTED" data-translate="serflixApp.RecomendationResult.PRESELECTED">PRESELECTED</option>
                <option value="ACCEPTED" data-translate="serflixApp.RecomendationResult.ACCEPTED">ACCEPTED</option>
                <option value="REJECTED" data-translate="serflixApp.RecomendationResult.REJECTED">REJECTED</option>
                <option value="WATCHED_LIKED" data-translate="serflixApp.RecomendationResult.WATCHED_LIKED">WATCHED_LIKED</option>
                <option value="WATCHED_DISLIKED" data-translate="serflixApp.RecomendationResult.WATCHED_DISLIKED">WATCHED_DISLIKED</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="serflixApp.serieRecomendation.serie" for="field_serie">Serie</label>
            <select class="form-control" id="field_serie" name="serie" ng-model="vm.serieRecomendation.serie" ng-options="serie as serie.name for serie in vm.series track by serie.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="serflixApp.serieRecomendation.request" for="field_request">Request</label>
            <select class="form-control" id="field_request" name="request" ng-model="vm.serieRecomendation.request" ng-options="request as request.id for request in vm.requests track by request.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
